<router-outlet></router-outlet>

<!-- <br>
<hr>
<app-invalidez></app-invalidez>
<hr>

<app-vejez></app-vejez>

<hr>
<hr>
--->
<!-- <app-viudez></app-viudez> -->

<!-- <br>
<hr>
<app-vista-qr></app-vista-qr> -->

<a>Esta es la vejez</a>

<!-- <app-vejez></app-vejez> -->
<a>Esta es la vejez</a>

<br />
<hr />
<hr />
<hr />
<!-- <app-tablas></app-tablas> -->

<!-- <app-certificacion-nueva></app-certificacion-nueva> -->
<!-- <app-planilla-ayuda></app-planilla-ayuda> -->
<!-- <app-ayuda></app-ayuda>  -->
<!-- <app-comp-xvejez></app-comp-xvejez> -->
<!-- <app-cert-viudez></app-cert-viudez> -->
<!-- <app-ascendencia></app-ascendencia> -->
<!-- <app-invalidez-riesgo-comun></app-invalidez-riesgo-comun> -->
<!-- <app-pension-permanente-total></app-pension-permanente-total> -->
<!-- <app-pension-permanente-parcial></app-pension-permanente-parcial> -->
<!-- <app-devolucion></app-devolucion> -->
<!-- <app-devolucion-viudez></app-devolucion-viudez> -->
<app-reporte-banco></app-reporte-banco>
